/* Normalização */
* {
  font-family: Calibri, sans-serif;
  margin: 0 auto;
}

body {
  text-align: center;
  padding: 20px;
  margin-top: 20px;
  background-color: aqua;
}

h1,
h2 {
  margin-top: 20px;
  margin-bottom: 10px;
}

/* cabeçalho */

#cabecalho {
  border: 1px solid #401;
  text-align: center;
  margin-bottom: 20px;
}

#cabecalho h1 {}

#cabecalho p {
  line-height: 30px;
}

/* main e section */

.caixa-jogo {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 20px;
  margin: 30px;
}

.caixa-jogo>input {
  text-align: center;
}

#chutar {
  cursor: pointer;
  border: none;
  border-radius: 5px;
  width: 200px;
  background-color: rgb(241, 143, 143);
}

#chutar:active {
  background-color: rgb(245, 109, 109);
}

#caixa-resultados {
  margin: 40px;
}